body {

    background-color: #c4e2f7;

}

.container { 
    text-align: center; 
}

.vibrate-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    animation: vibrate 0.1s infinite alternate;
    transition: background-color 0.3s;
}

.vibrate-button:hover {
    background-color: green;
    animation: none; /* Останавливаем анимацию при наведении */
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    100% { transform: translateX(-5px); }
}

.important-link { 
    display: inline-block; 
    margin-top: 20px; 
    text-decoration: none; 
    color: black; 
    position: relative; 
} 
 
.important-link::after { 
    content: ''; 
    position: absolute; 
    width: 0; 
    height: 2px; 
    background: green; 
    left: 50%; 
    bottom: -2px; 
    transition: width 0.3s ease, left 0.3s ease; 
} 
 
.important-link:hover { 
    color: green; 
} 
 
.important-link:hover::after { 
    width: 100%; 
    left: 0; 
}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    position: absolute; /* Фиксированное положение */
    bottom: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, 50%); /* Коррекция для центрирования */
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0) scaleY(1); /* Начальная и конечная позиция */
    }
    9% {
        transform: translate(-50%, 300px) scaleY(0.8); 
    }
    18% {
        transform: translate(-50%, 150px) scaleY(1); 
    }
    27% {
        transform: translate(-50%, 300px) scaleY(0.85); 
    }
    36% {
        transform: translate(-50%, 225px) scaleY(1); 
    }
    45% {
        transform: translate(-50%, 300px) scaleY(0.90); 
    }
    54% {
        transform: translate(-50%, 263px) scaleY(1); 
    }
    63% {
        transform: translate(-50%, 300px) scaleY(0.95); 
    }
    72% {
        transform: translate(-50%, 282px) scaleY(1);
    }
    81% {
        transform: translate(-50%, 300px) scaleY(0.98);
    }
}