body {
    background-color:antiquewhite;

    margin: 0;

    .container {
        max-width: 1440px; 
        margin: 0 auto; 
        padding: 20px; 
    }
}

.bold {
    font-weight: bold;
}

img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: black; 
    text-decoration: none; 
}

.center {
    text-align: center; 
}

.justify {
    text-align: justify; 
}

.left {
    text-align: left; 
}

@font-face{
    font-family: 'text1';
    src: url(text1.ttf);
}
.text1{
font-family: 'text1';
}

@font-face{
    font-family: 'text2';
    src: url(text2.ttf);
}
.text2{
font-family: 'text2';
}

@font-face{
    font-family: 'text3';
    src: url(text3.ttf);
}
.text3{
font-family: 'text3';
}

.film1{
    font-family: 'text1', sans-serif;
}

.film2{
    font-family: 'text2', sans-serif;
}

.film3{
    font-family: 'text3', sans-serif;
}